.container{
    margin-top: 25vh;
}
.content{
    background-color: rgba(250, 250, 250, 0.4);
    margin-bottom: 4vh;
    padding: 1.5em;
    border-radius: 30px;
    min-height: 10em;
    height: auto;
    font-size: x-large;
}
#next_post{
    padding-left: 4vw;
    padding-right: 4vw;
}