.acc_field button{
    width: 100%;
}
form input{
    margin-bottom: 1vh;
    padding: 0.5em;
    background-color: rgba(255, 255, 255, 0.438) !important;
    width: 100%;
    
    border-radius: 30px;
    border: none !important;
}
.form-group{
    max-width: 50vw;
}
.acc-link{
    text-decoration: underline;
    font-size: medium;
}
.links li{
    list-style: none;
    margin-left: auto;
    margin-right: auto;
}
.acc_field label{
    font-size: 1.6rem;
}
.advice{
    font-size: .7rem;
}
#error-msg{
    background: rgba(233, 75, 75, 0.466);
    font-size: 0.8rem;
    padding: 0.3rem;
    color: white;
    border-radius: 30px;
    padding-left: 1rem;
}
