.navbar{
    background: rgb(180, 179, 179, 0.1);
    position: absolute !important;
    display: inline !important;
}
.title{
    font-size: 30px;
    font-family: 'Anton', sans-serif;
}
body{
    display: flex;
    position: relative;
}
.nav-btn{
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    float: right;
    width: 10em;
    margin-left: 0.5em;
}
.container{
    margin-top: 25vh;
}
.content{
    background-color: rgba(250, 250, 250, 0.4);
    margin-bottom: 4vh;
    padding: 1.5em;
    border-radius: 30px;
    min-height: 10em;
    height: auto;
    font-size: x-large;
}